* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #FFCC58;
}

.dot {
	background-color: #FF2727;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 100px;
	left: 700px;
}

.text {
	color: black;
	font-size: 20px;
}

.next-text {
	color: black;
	font-size: 20px;
	display: none;
}

.last-text {
	color: black;
	font-size: 20px;
	display: none;
}

.cookie {
	position: relative;
	top: 400px;
	left: 400px;
	display: none;
}

.instruction {
	font-size: 10px;
	padding: 20px;
}

@media screen and (max-width: 1400px) {
	.dot {
		top: 400px;
		left: 300px;
		position: fixed;
	}

	.instruction {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.dot {
		top: 100px;
		left: 600px;
		position: fixed;
	}

	/*.text {
		display: none;
	}

	.next-text {
		display: block;
	}*/
}

@media screen and (max-width: 800px) {
	.dot {
		top: 500px;
		left: 100px;
		position: fixed;
	}

	.text {
		display: none;
	}

	.next-text {
		display: block;
	}
}

@media screen and (max-height: 500px) {
	.dot {
		display: none;
	}

	.text {
		display: none;
	}

	.next-text {
		display: none;
	}

	.cookie {
		display: block;
		top: 200px;
		left: 150px;
	}

	.last-text {
		display: block;
	}
}











